<div class="container-fluid">
  <div class="row flex-nowrap">
    <div
      [class.active-main-side-bar]="openedSideNav"
      class="position-relative main-side-bar"
    >
      <div class="position-absolute p-0 top-0 toggle-button">
        <button class="btn btn-primary" type="button" (click)="openedSide()">
          <i
            class="fa-solid"
            [class.fa-bars]="!openedSideNav"
            [class.fa-xmark]="openedSideNav"
          ></i>
        </button>
      </div>
      <div
        class="side-nav px-0 bg-dark"
        [class.active-side-nav]="openedSideNav"
      >
        <div
          class="d-flex flex-column align-items-center align-items-sm-start px-3 pt-2 text-white min-vh-100"
        >
          <a
            class="d-flex align-items-center pb-3 mb-md-0 me-md-auto text-white text-decoration-none"
          >
            <span class="fs-5 d-none d-sm-inline">Menu</span>
          </a>
          <ul
            class="nav list-unstyled nav-pills flex-column mb-sm-auto mb-0 align-items-center align-items-sm-start w-100"
            id="menu"
          >
            <li
              class="nav-item list-unstyled w-100"
              *ngFor="let li of loopedLis; let i = index"
              [class.opened-li]="li.isOpened"
            >
              <a
                role="button"
                (click)="toggleCollapse(li, i)"
                class="nav-link align-middle px-0 text-white d-flex align-items-center justify-content-between"
              >
                <span class="ms-1 d-none d-sm-inline">
                  <span>{{ li.textField.emoji }}</span>
                  <span>{{ li.textField.text }}</span>
                </span>
                <i [class]="li?.icon"></i>
              </a>
              <ul class="submenu list-unstyled">
                <li class="px-4" *ngFor="let subItem of li.subItems">
                  {{ subItem }}
                </li>
              </ul>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
