.side-nav {
  width: 0;
  height: 100%;
  transition: 0.2s;
  overflow: hidden;
  &.active-side-nav {
    width: 300px;
    overflow: visible;
  }
}
ul li ul {
  height: 0;
  overflow: hidden;
  transition: 0.2s linear;
}

ul li.opened-li ul {
  height: 50px;
}
.toggle-button {
  right: -50px;
}
.main-side-bar {
  width: 0;
  transition: 0.2s;
  &.active-main-side-bar {
    width: 300px;
  }
}
